/* Footer.css */

.footer {
  background-color: #000000; /* fond noir */
  color: #facc15; /* jaune */
  text-align: center;
  padding: 0.2rem 1rem;
  margin-top: auto;
  font-size: 0.5rem;
}

.footer-content p {
  margin: 0.25rem 0;
}
